{% extends '@admin/layout.html.twig' %}

{% block title 'Administration d\'articles' %}

{% block body %}

    <div class="page-header">
        <h1>Administrer les articles</h1>
    </div>

    <p class="text-right">
        <a class="btn btn-primary" href="{{ path(routePrefix ~ '.create') }}">Ajouter un article</a>
    </p>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>Titre</td>
                    <td>Catégorie</td>
                    <td>Actions</td>
                </tr>
                </thead>
                <tbody>
                {% set tokenInput = csrf_input() %}
                {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.categoryName }}</td>
                        <td>
                            <a href="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" class="btn btn-primary">Éditer</a>
                            <form style="display: inline" action="{{ path(routePrefix ~ '.delete', {id: item.id}) }}" method="post" onsubmit="return confirm('Êtes vous sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">Supprimer</button>
                                {{ tokenInput | raw }}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ paginate(items, routePrefix ~ '.index') }}
        </div>
    </div>

{% endblock %}