{% extends 'layout.html.twig' %}

{% block title 'Mes articles' %}

{% block body %}

    <div class="page-header">
        <h1>Bienvenue sur le blog</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for row in items | batch(3) %}
                <div class="card-deck">
                    {% for item in row %}
                        <div class="card">
                            <div class="card-header">
                                <h2>
                                    <a href="{{ path(routePrefix ~ '.show', {slug: item.slug, id: item.id}) }}">
                                        {{ item.name }}
                                    </a>
                                </h2>
                            </div>
                            <div class="card-block">
                                <p class="card-text">
                                    {{ item.content | excerpt| nl2br }}
                                </p>
                                <p class="text-muted">
                                    {{ item.created_at | ago }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path(routePrefix ~ '.show', {slug: item.slug, id: item.id}) }}" class="btn btn-primary">Voir
                                    l'article</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

   <div class="row">
       <div class="col-md-12">
           {{ paginate(items, routePrefix ~ '.index') }}
       </div>
   </div>

{% endblock %}